{
    "swagger": "2.0",
    "info": {
        "description": "\nThis data set contains the list of polling places. It can be organized by ward/division, accessibility rating, or type of building.\n\nThis list is used to assign poll workers, send the machines and necessary accessibility materials, etc.\n\n**Polling Places API** \n\nBuilding Code Look Up Type\n--------------------------\n\n|Building Code|Description|\n|:------------|:----------|\n|F|Building Fully Accessible|\n|B|Building Substantially Accessible|\n|M|Building Accessibilty Modified|\n|A|Alternate Entrance|\n|R|Building Accessible With Ramp|\n|N|Building Not Accessible|\n\nParking Code Look Up Type\n--------------------------\n\n|Parking Code|Description|\n|:-----------|:----------|\n|N|No Parking|\n|G|General Parking|\n|L|Loading Zone|\n|H|Handicap Parking|\n",
        "version": "1.0.0",
        "title": "Polling Places API"
    },
    "host": "www.philadelphiavotes.com",
    "schemes": [
        "http"
    ],
    "paths": {
        "/index.php": {
            "get": {
                "summary": "Get Polling Places Data",
                "parameters": [
                    {
                        "in": "query",
                        "name": "option",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "view",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "ward",
                        "description": "Ward Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "division",
                        "description": "Division Number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "callback",
                        "description": "Optional parameter for jsonp support.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "An array of polling places",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/features"
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "features": {
            "attributes": {
                "ward": {
                    "type": "string",
                    "description": "The number of the electoral subdivision that houses the polling place."
                },
                "division": {
                    "type": "string",
                    "description": "The number of the electoral section that houses the polling place."
                },
                "pin_address": {
                    "type": "string",
                    "description": "Mailing address of the polling place."
                },
                "display_address": {
                    "type": "string",
                    "description": "Mailing address of the polling place (formatted for display purposes)."
                },
                "zip_code": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Zipcode of the polling place."
                },
                "location": {
                    "type": "string",
                    "description": "The name of the polling place."
                },
                "building": {
                    "type": "string",
                    "description": "Assigned code to denote the accessibility of the polling place. See above for details of the codes."
                },
                "parking": {
                    "type": "string",
                    "description": "Assigned code to denote the availability of parking. See above for details of the codes."
                },
                "lat": {
                    "type": "number",
                    "format": "float",
                    "description": "Latitudinal coordinates of the polling place."
                },
                "lng": {
                    "type": "number",
                    "format": "float",
                    "description": "Longitudinal coordinates of the polling place."
                }
            }
        },
        "errorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
